.container {
background-color: #206b6d;
width: 100%;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;

.profile {
    margin-left: 15rem;
    font-size: 1.3rem;

    span {
        display: flex;
        justify-content: center;
    }
    h1 {
        color : white;

    }
    span {
        background: black;
        color: cadetblue;
        border-radius: 1rem;
    }
}
.power {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
nav {
    ul {
        display: flex;
        list-style: none;
        align-self: center;
        li {
            padding-left: 1rem;
            cursor: pointer;   
                 
           
            a {
                display: flex;
                color: white;
                font-size: 2rem;
                padding: 1rem;
                font-weight: 900;

                &:hover {
                    background: cadetblue;
                    border-radius: 1rem
                }
            }
        }
    }
}
}
